<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>作業報告テンプレート</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    </head>
    <body>
        <h2>ToDoリスト</h2>
        <div id="app">
            <div v-for="todo in todos">
                <label>
                    <input type="checkbox" v-model="todo.done">
                    <span v-bind:class="{donestyle:todo.done}">{{ todo.text }}</span>
                </label>
            </div>
            <input type="text"  v-model.trim="addtext" v-on:keyup.enter="addToDo" placeholder="すること">
            <p><button v-on:click="clearnToDo">処理済みを削除</button></p>
            <h3>メールタイトル</h3>
            <p>{{ subject}}</p>
            <h3>本文</h3>
            <p>{{ boss }}</p>
            <p>{{ greeting }}</p>
            <p>{{ worktime }}</p>
            <p>作業内容
                <ul>
                    <li v-for="item in todos" :key="item.text">・{{ item.text }}</li>
                </ul>
            </p>
            <p>{{ endgreeting }}</p><br>
        </div>
        <style>
            .donestyle{
                text-decoration: line-through;
                color: lightgray;
            }
        </style>
        <script>
            var task = null;
            var varboss = '課長様\n';
            var vargreeting = 'お疲れ様です\n\nびゅう太郎です';
            new Vue({
                el:'#app',
                data:{
                    addtext:'',
                    todos:[
                        {done:false, text:'パンを買う'},
                        {done:false, text:'コーヒーを買う'}
                    ],
                    subject:'mm/dd(dow)の作業連絡です',
                    greeting:vargreeting,
                    boss:varboss,
                    worktime:'作業予定時間：00:00~99:99',
                    endgreeting:'以上になります'
                },
                computed:{
                    remaining:function(){
                        return this.todos.filter(function(val){
                            return val.done == true;
                        }).length;
                    }
                },
                methods:{
                    addToDo:function(){
                        if(this.addtext){
                            this.todos.push({done:false,text:this.addtext});
                            this.addtext='';
                        }
                    },
                    clearnToDo:function(){
                        this.todos = this.todos.filter(function(val){
                            return val.done==false;
                        });
                    }
                }
            })
        </script>
    </body>
</html>